<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<div>
    <form th:action="@{/teacher}"  th:method="post" th:object="${teacher}">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}">

        <label for="family">Family</label>
        <input type="text" name="family" id="family" th:field="*{family}">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" th:field="*{username}">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:field="*{password}">

        <label for="email">Email</label>
        <input type="text" name="email" id="email" th:field="*{email}">

        <label for="phone_number">Phone Number</label>
        <input type="text" name="phone_number" id="phone_number" th:field="*{phoneNumber}">

        <label for="national_code">National Code</label>
        <input type="text" name="national_code" id="national_code" th:field="*{nationalCode}">

        <label for="address">Address</label>
        <input type="text" name="address" id="address" th:field="*{address}">
        <input type="submit">
    </form>
</div>

<div>
    <h2 th:dir="ltr" th:if="${teacherList.isEmpty()}">No Content</h2>
    <table th:if="${not teacherList.isEmpty()}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Family</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>National Code</th>
            <th>Address</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="teacher : ${teacherList}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.name}"></td>
            <td th:text="${teacher.family}"></td>
            <td th:text="${teacher.username}"></td>
            <td th:text="${teacher.password}"></td>
            <td th:text="${teacher.email}"></td>
            <td th:text="${teacher.phoneNumber}"></td>
            <td th:text="${teacher.nationalCode}"></td>
            <td th:text="${teacher.address}"></td>
            <td>
                <button th:data-name="${teacher.id}" th:onclick="|remove(this.getAttribute('data-name'))|">Remove</button>
                <button th:data-name="${teacher.id}" th:onclick="|edit(this.getAttribute('data-name'))|">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function remove(username){
        fetch("/teacher/"+username,{
            method:"DELETE"
        });
        window.location.replace("/teacher");
    }
    function editTeacher(id) {
        window.location.replace("/teacher" + id);
    }
</script>

</body>
</html>